.Button {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-height: 60px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 10px;
    border: 0px solid;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
    transition: all 0.1s ease-out;
    background-color: #999;
    border: 1px solid #eee;
    color: #333;
    cursor: pointer;
    text-align: center;
    /* добавь тени */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Button:hover {
    background-color: #bbb;
    filter: brightness(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.Button:active {
    background-color: #ddd;
    filter: brightness(0.9);
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}