.docContainer {
  /* padding: 16px; */
  background-color: #f8f8f8;
}

.filterContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  /* height: 40px; */
}

.filterRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 4px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
}

.chip:hover {
  background-color: #e9e9e9;
}

.chipSelected {
  background-color: #d3e8ff !important;
  border-color: #007bff !important;
}

.searchContainer {
  display: flex;
  flex-direction: column;
}

.searchInput {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.docList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 10px 100px 10px;
}


.datePickers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.dateInput {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}


.docItem {
  /* margin-bottom: 30px; */
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 10px;
  background: white;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.content {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
}

.control {
  grid-column: 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.docCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  /* margin-bottom: 12px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.subtitle {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

.docChip {
  padding: 4px 8px;
  border: 1px solid #007BFF;
  background-color: #eeffff;
  border-radius: 8px;
  font-size: 10px;
  color: #007BFF;
  font-weight: 500;
  margin-right: 8px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

}


.summContainer {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #eee;
}

.noDocs {
  text-align: center;
  padding: 40px;
  color: #888;
  font-style: italic;
}

hr {
  border: 1px solid #eee;
}

.controlButton {
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: #888;
  transition: all 0.2s ease;
}

.description {
  display: block;
  font-style: italic;
  color: #888;
  font-weight: 700;
  font-size: 12px;
  margin-top: 4px;
}

.High {
  background: #ffdddd;
}

.Low {
  background: #ddffdd;
}

.Medium {
  background: #ffffdd;
}