.deliveryFormContainer {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 20px;
    margin-bottom: 80px;
    max-width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.docChip {
    padding: 4px 8px;
    border: 1px solid #007BFF;
    background-color: #eeffff;
    border-radius: 8px;
    font-size: 12px;
    color: #007BFF;
    font-weight: 500;
    margin-inline: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

.statusRow {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modalBody {
    max-height: 300px;
    overflow-y: auto;
}

.modalItem {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 2fr;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.deliveryCard {
    display: grid;
    border-bottom: 1px solid #ccc;
    user-select: none;
    /* gap: 10px; */
    padding: 10px 0;
    align-items: center;
    user-select: none;
}

.customerName {
    grid-column: 1 / span 5;
    grid-row: 1;
    font-weight: 600;
    font-size: 1.1em;
}

.dTimePlan {
    grid-column: 1;
    grid-row: 2;
    max-width: 68px;
    font-size: medium;
}

.dTimeFact {
    grid-column: 2;
    grid-row: 2;
    font-size: x-small;
    font-weight: 600;
    text-align: left;
    align-self: flex-start;

}

.entityCount {
    grid-column: 3;
    grid-row: 2;
}

.summ {
    grid-column: 4 / span 2;
    grid-row: 2;
    font-variant-numeric: tabular-nums;
    font-weight: 600;
    text-align: right;
    font-size: 1.1em;
}

.address {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.phone {
    grid-column: 4 / span 2;
    grid-row: 3;
    text-align: right;
}

.tools {
    grid-column: 6;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 40px;
}