.reportContainer {
    padding: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 80px;
}

.customerContainer {
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customerHeader {
    background-color: #f5f9ff;
    padding: 16px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* предотвращает выделение текста при клике */
}

.customerHeader h3 {
    margin: 0;
    color: #1976d2;
}

.customerName {
    font-weight: bold;
    grid-row: span 2;
    color: #1976d2;
}   

.customerPositions {
    padding: 0 16px 0px;
}

.positionList {
    list-style: none;
    padding: 0;
}

.totalSum {
    font-weight: bold;
    color: #333;
}

.positionList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.positionItem {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Название — остаток ширины, кол-во и сумма — по содержимому */
    grid-template-rows: 1fr 1fr;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

.productName {
    font-size: small;
    grid-row: span 2;
    align-self: start;
}

.quantity {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: end;
    font-variant-numeric: tabular-nums;
}

.sum {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    align-self: start;
    font-variant-numeric: tabular-nums;
    font-weight: bold;
}

.totalRow {
    margin-top: 12px;
    padding-top: 12px;
    /* border-top: 1px solid #ccc; */
    font-weight: bold;
    text-align: right;
    font-size: 1.1em;
    color: #1976d2;
    padding-bottom: 16px;
}

.totalValue {
    grid-column: 2;
    color: #1976d2;
    width: 100px;
    text-align: left;
    font-weight: bold;
}